@import url("https://fonts.googleapis.com/css2?family=Georama&display=swap");

:root {
  --nav-color: hsla(0, 5%, 12%, 0.9);
}

*,
*::before *::after {
  box-sizing: border-box;
}

body {
  margin: 0;
  min-height: 100vh;
  font-family: "Georama", sans-serif;
}

/**********************
      NAVIGATION
**********************/

header {
  background: var(--nav-color);
  text-align: center;
  width: 100%;
}

.logo {
  color: hsl(60, 100%, 99%);
  letter-spacing: 2px;
}

nav {
  position: absolute;
  text-align: left;
  top: 100%;
  left: 0;
  background: var(--nav-color);
  width: 100%;
  position: fixed;
  transform: scale(1, 0);
  transform-origin: top;
  transition: transform 400ms ease-in-out;
}

nav ul {
  margin: 0;
  padding: 0;
  list-style: none;
}

nav li {
  margin-bottom: 1em;
  margin-left: 1em;
  letter-spacing: 2px;
}

nav a {
  color: hsl(0, 0%, 100%);
  text-decoration: none;
  font-size: 1.2rem;
  text-transform: uppercase;
  opacity: 0;
  transition: opacity 150ms ease-in-out;
}

nav a:hover {
  color: hsl(0, 2%, 88%);
}

.nav-toggle {
  display: none;
}

.nav-toggle:checked ~ nav {
  transform: scale(1, 1);
}

.nav-toggle-label {
  position: absolute;
  top: 0;
  left: 0;
  margin-left: 1em;
  height: 100%;
  display: flex;
  align-items: center;
}

.nav-toggle-label span,
.nav-toggle-label span::before,
.nav-toggle-label span::after {
  display: block;
  background: white;
  height: 2px;
  width: 2em;
  border-radius: 2px;
  position: relative;
}

.nav-toggle-label span::before,
.nav-toggle-label span::after {
  content: "";
  position: absolute;
}

.nav-toggle-label span::before {
  bottom: 7px;
}

.nav-toggle-label span::after {
  top: 7px;
}

.nav-toggle:checked ~ nav a {
  opacity: 1;
  transition: opacity 150ms ease-in-out 250ms;
}

@media screen and (min-width: 1022px) {
  .nav-toggle-label {
    display: none;
  }

  header {
    display: grid;
    grid-template-columns: 1fr auto minmax(600px, 1fr) 1fr;
    border-bottom: 2px solid hsl(0, 83%, 31%);
  }

  .logo {
    grid-column: 1 / 2;
  }

  nav {
    all: unset;
    grid-column: 3 / 4;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  nav ul {
    display: flex;
    justify-content: flex-end;
  }

  nav li {
    margin-left: 3em;
    margin-bottom: 0;
  }

  nav a {
    opacity: 1;
    position: relative;
  }

  nav a::before {
    content: "";
    display: block;
    height: 5px;
    background: white;
    position: absolute;
    top: -1em;
    left: 0;
    right: 0;
    transform: scale(0, 1);
    transform-origin: left;
    transition: transform ease-in-out 250ms;
  }

  nav a:hover::before {
    transform: scale(1, 1);
  }
}

@media screen and (max-width: 386px) {
  .logo {
    font-size: 1.5rem;
  }
}

@media screen and (max-width: 284px) {
  .logo {
    margin-left: 1rem;
  }
}

/**********************
     Section ARC
**********************/

section {
  min-height: 50vh;
  width: 100%;
}

section h2 {
  text-align: center;
  margin-top: 2em;
  letter-spacing: 0.15em;
}
.containerarc {
  display: flex;
  justify-content: space-around;
  align-items: center;
  flex-wrap: wrap;
  margin: 3em;
}

.cardarc {
  height: 320px;
  width: 200px;
  background: hsla(0, 5%, 12%, 0.9);
  box-shadow: 0 0 9px hsla(0, 5%, 12%, 0.9);
}

.cardcontent {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  margin: 1em;
  word-break: break-all;
  word-spacing: 2px;
  letter-spacing: 2px;
  position: relative;
  overflow: hidden;
  transform: scale(0, 1);
}

.cardcontent:hover {
  transform: scale(1, 1);
}

.card1 {
  background: url(images/montagne.jpg);
  background-size: cover;
  background-position-x: center;
}

.card2 {
  background: url(images/foret.jpg);
  background-size: cover;
  background-position-x: center;
}

.card3 {
  background: url(images/pirates.jpg);
  background-size: cover;
  background-position-x: right;
}
